body {
    background-color: #dddbdb; /*rgb(180, 180, 180)*/
    margin: 0px 0px 0px 0px;
    font-size: 13px;
    font-family: Helvetica,Verdana,Tahoma,Arial,sans-serif;
    color: #333333;
    text-align: justify;
    font-weight: 200;
}

header {
    position: absolute;
    left: 5%;
    top: 22px;
    width: 825px;
    height: 110px;
    padding: 0px 0px 0px 0px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .8);
}
#title {
    position: absolute;
    left: 3%;
    top: 15px;
    width: 570px;
    height: 52px;
    line-height: 52px;
    border: 1px solid #ffffff;
    padding: 0 0 0 3%;

    font-size: 20px;
    color: #210077; /* синий */
    text-align: left;
}

#f {
    position: absolute;
    left: 15%;
    top: 112px;
    width: 370px;
    height: 300px;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 400px 0 300px -300px rgba(255, 206, 0, .5) inset;
    border-radius: 3px;
    border-left: 2px  solid #ffce0080;
}

#f:hover {
        animation: borderF .8s ease-out 2 alternate .1s;
    }

@keyframes borderF {
    50% {
        border-left-color: #50a827;
        background-color: rgba(255, 255, 255, 1);
    }
    to {
        border-left-color: #50a827;
        background-color: rgba(255, 255, 255, 1);
    }
}
   
#f1 {
    position: absolute;
    left: -22px;
    top: 7px;
    width: 300px;
    height: 30px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .8); 
    line-height: 30px;
    font-size: 13px;
    color: #50a827; /* зеленый */
    text-align: left;
    font-weight: 200;
    padding: 0px 0px 0px 52px;
}
#f2 {
    position: absolute;
    left: 15px;
    top: 45px;
    width: 225px;
    height: 125px;
    color: #333;
}
textarea:focus {
    outline: none !important;
    border-left-color: #50a827;
    border-top-color: #50a827;
    border-bottom-color: #dddbdb;
    border-right-color: #dddbdb;
    border-radius: 2px 0 0 0 !important;
}
    #f3 {
    position: absolute;
    left: 15px;
    top: 190px;
    width: 300px;
    height: 90px;
}

.inp {
}

aside {
    position: absolute;
    left: 85%;
    top: 90px;
    width: 150px;
    height: 450px;
    padding: 0 0 0 7px;
    border-left: 1px solid #ffffff;
    font-size: 10px;
    color: #333333;
    text-align: left ;
}

footer{

}

h2 {
    font-size: 13px;
    color: #50a827; /* зеленый */
    text-align: left;
    font-weight: 200;
}
p {
    font-size: 13px;
    color: #333333;
    text-align: justify;
}